.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  padding: 1rem 3rem;
  z-index: 1000;
}


.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.nav-logo img {
  height: 100px;
  width: 200px;
  object-fit: contain;
}


.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 0.7rem 1.3rem;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.nav-button:hover {
  background-color: #1d4ed8;
}